.filter-container {
  border: 1px solid black;
  background: lightgray;
}
.results-container {
  border: 1px solid black;
}
.rightsection-container {
  border: 1px solid black;
}

@include media-breakpoint-down(xs) {
  .filter-container {
    position: absolute;
    z-index: 1225;
    top: 0;
    left: 0;
  }

  .results-container {
      display: none;
  }

  .mobile-search {
    display: inline-block;
  }

  .filter-button {
    text-align: right;
    display: inline-block;
    margin-left: 3%;
  }
}

