.booking-button {
    margin-top: 10px;
}
.add-bandmember-button {
    margin-top: 7px;
}

.bandmembers {

    //display: flex;

    .bandmember-icon {
        padding: 5px;
    }
}

.missing-musician >p {
    color: red;
}