.nav-tabs > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs {
  text-align:center;
}

.card {
  margin: 10px 0;
}

.result-profile-pic {
  margin-top: 25%;
  display: block;
  float: none;
  width: 100%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}