.profile-types-card {

  width: 75%;
  margin: 0 auto;


}
.select-profile-title {
  text-align: center;
}

.sub-button-text {
  text-align: center;
}

.advanced-search-sp-button {

  margin-bottom: 10px;
}

@include media-breakpoint-up(sm) {

  .profile-type-button {
    width: 20%;
    margin: 10px auto;
  }
}
