.profile-types-card {

  width: 75%;
  margin: 0 auto;


}
.select-profile-title {
  text-align: center;
}

@include media-breakpoint-up(sm) {

  .profile-type-button {
    width: 20%;
    margin: 10px auto;
  }
}
