
//// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
//
//// Variables
//@import "variables";
//
//// Bootstrap
//@import '~bootstrap/scss/bootstrap';

.info-buttonclass {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50%;
}
